form {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 94%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #4CAF50;
}

input[type="submit"] {
  width: 100%;
  padding: 14px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

p {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form .error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #ffe6e6;
  border: 1px solid #ff9999;
  border-radius: 4px;
  padding: 10px;
}
h1 {
  z-index: 1;
  margin-top: 60px; /* Upravit podle potřeby */
  text-align: center;
  margin-bottom: 20px;
}